body {
    font-family: Arial;
    background-color:rgb(77, 143, 173);
}
.content{
  background-color:rgb(113, 199, 238);
  width: 1500px;
  padding: 10px;
  color:white;
  line-height:height
}
