body {
    font-family: Arial;
    background-color:rgb(120, 163, 219);
}
.content{
  background-color: ivory;
  width:300px;
  padding:300px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:rgb(120, 163, 219)
  

}
