body {
    font-family: Arial;
    background-color:rgb(134, 176, 230);
}
.content{
  background-color:rgb(84, 127, 184);
  width:600px;
  padding:400px;
  position:absolute;
  left: 50%;
  transform: translate(-50%,-20%);
  color:white;
  padding-left:30px;
  line-height:30px;
 
}
  


